version: 2.1

orbs:
  freegle-tests: freegle/freegle-tests@1

workflows:
  pr-tests:
    jobs:
      - freegle-tests/php-tests:
          filters:
            branches:
              ignore:
                - master
                - main
