version: 2.1

jobs:
  phpunit-tests:
    machine:
      image: ubuntu-2404:current
    resource_class: large
    steps:
      - checkout
      - run:
          name: Clone FreegleDocker
          command: |
            git clone https://github.com/Freegle/FreegleDocker.git ~/FreegleDocker
            cd ~/FreegleDocker
            git submodule update --init --recursive
      - run:
          name: Run PHPUnit tests
          command: |
            cd ~/FreegleDocker
            chmod +x scripts/run-submodule-tests.sh
            ./scripts/run-submodule-tests.sh php ~/project
          no_output_timeout: 30m

workflows:
  pr-tests:
    jobs:
      - phpunit-tests:
          filters:
            branches:
              ignore:
                - master
                - main
