<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         stderr="true"
         testdox="true"
         enforceTimeLimit="false"
         defaultTimeLimit="0"
         convertDeprecationsToExceptions="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
    <include>
      <directory suffix=".php">../../../http/api</directory>
      <directory suffix=".php">../../../include</directory>
    </include>
    <exclude>
      <directory suffix=".php">lib</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>.</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED" />
    <env name="XDEBUG_MODE" value="coverage" force="true" />
    <env name="NO_UNMAPPED_TO_PENDING" value="TRUE" force="true" />
  </php>
</phpunit>
