# Cron jobs for background scripts on Docker
0 */6 * * * cd /var/www/iznik/scripts/cron; php ./get_app_release_versions.php >> /tmp/iznik.get_app_release_versions.out 2>&1
*/1 * * * * cd /var/www/iznik/scripts/cron; php ./background.php >> /tmp/iznik.background.out 2>&1
*/1 * * * * cd /var/www/iznik/scripts/cron; php ./exports.php >> /tmp/iznik.exports.out 2>&1
*/1 * * * * cd /var/www/iznik/scripts/cron; php ./chat_process.php >> /tmp/iznik.chat_process.out 2>&1
*/1 * * * * cd /var/www/iznik/scripts/cron; php ./chat_notifyemail_user2user.php >> /tmp/iznik.chat_notifyemail_user2user.out 2>&1
*/1 * * * * cd /var/www/iznik/scripts/cron; php ./memberships_processing.php >> /tmp/iznik.memberships_processing.out 2>&1
*/1 * * * * cd /var/www/iznik/scripts/cron; php ./lovejunk.php >> /tmp/iznik.lovejunk.out 2>&1
*/1 * * * * cd /var/www/iznik/scripts/cron; php ./spool.php >> /tmp/iznik.spool.out 2>&1
*/1 * * * * cd /var/www/iznik/scripts/cron; php ./message_spatial.php >> /tmp/iznik.message_spatial.out 2>&1
